{{ define "content"}}
{{- $datetime_format := i18n "Datetime_format" -}}



{{ with .Page.Site.Params.links }}
<section class="widget">

  <h3 class="widget-title">{{ i18n "links" }}</h3>
  <!-- <ul class="widget-list"> -->
  <article class="post">
    <div class="post-links">
      {{ range . }}
      <a href="{{.url |safeURL}}">
        <div class="post-links-card">
          <div class="post-links-avatar">
            {{ if .avatar }}
            <img src="{{.avatar |safeURL}}" alt="">
            {{ else }}
            <img src="/logo/default" alt="">
            {{ end }}
          </div>
          <div class="post-links-content">
            <div class="post-links-content-title">
              {{.title}}
            </div>
            <div class="post-links-content-description">
              {{.description}}
            </div>
          </div>
        </div>
      </a>

      {{ end }}

    </div>
  </article>

</section>

{{ end }}

{{ partial "comments" . }}
{{ end }}